body {
    background-color: whitesmoke;
    color: #353535;
}

canvas {
    display: block;
    margin: 0 auto;
    width: 400px;
}

table {
    width: 5em;
    border-collapse: collapse;
    margin: 1em;
}

th, td {
    text-align: center;
}

thead {
    background-color: #b5b5b5;
}

h1 {
    margin: 0.1em
}